PORT=5000
JWT_SECRET=super_cute_and_secure_jwt_secret_key_12345
JWT_REFRESH_SECRET=super_cute_and_secure_refresh_secret_key_67890
FRONTEND_URL=http://localhost:5173

# Supabase Credentials (leave blank to run in mock database mode!)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET_NAME=pdfs

# Email Configuration (Mock logic will be used if blank)
NODEMAILER_EMAIL=
NODEMAILER_PASS=
